<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sakuya.antiaddiction">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotAntiAddiction"
            android:value="com.sakuya.antiaddiction.GodotMain" />
    </application>
</manifest>